In [3]:
import pandas as pd

In [4]:
data=pd.read_excel("E:\data science\Dataset_w6.xlsx")
data.head()

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0

In [8]:
data.sort_values("Region")

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
78,Haiti,Caribbean,27750.0,10981.0,793.7,163.0,3316.0
148,Saint Lucia,Caribbean,539.0,179.0,7839.4,69.0,654.0
147,Saint Kitts and Nevis,Caribbean,261.0,55.0,15771.9,39.0,332.0
33,Cayman Islands,Caribbean,264.0,62.0,62132.0,104.0,991.0
24,British Virgin Islands,Caribbean,151.0,31.0,30144.5,103.0,444.0
...,...,...,...,...,...,...,...
64,France,WesternEurope,551500.0,64980.0,36304.2,103.0,560555.0
8,Austria,WesternEurope,83871.0,8736.0,44117.7,108.0,149299.0
69,Germany,WesternEurope,357376.0,82114.0,41686.2,111.0,1060672.0
169,Switzerland,WesternEurope,41291.0,8476.0,80831.1,106.0,269157.0
104,Luxembourg,WesternEurope,2586.0,584.0,100160.8,98.0,19124.0